    <div align='center'>
        <a href="/stage1" class="btn btn-primary">Stage 1</a>
        <a href="/stage2" class="btn btn-primary">Stage 2</a>
        <a href="/stage3" class="btn btn-primary">Stage 3</a>
        <a href="/stage4" class="btn btn-primary">Stage 4</a>
        <a href="/stage5" class="btn btn-primary">Stage 5</a>
    </div>