<%- include('partials/header.ejs') %>
    <div class="container">
        <% if (message != '') { %>
            <p class="text-center text-danger"><%= message %></p>
        <% } %>
        <form class="add-playerform" action="" method="post" enctype="multipart/form-data">
            <div class="form-col" align="center">
                <div class="form-group col-md-4">
                    <input typ-e="text" class="form-control" name="first_name" id="first-name" placeholder="First Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="last_name" id="last-name" placeholder="Last Name" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="id" id="id" placeholder="ID" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="mail" id="mail" placeholder="Mail" required>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" name="gender" id="gender">
                        <option value="" disabled selected>Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Femail</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" onfocus="(this.type='date')" name ="birthdate" id="birthdate" placeholder="Birthdate">
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="phone_number" id="phone-number" placeholder="Phone Number" required>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-primary float-right">Add Candidate</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>